.report {
	background-color: #fafafa;
	width: 750px;
	min-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-direction: column;
	padding-bottom: 45vh;

	.fixed {
		z-index: 99;
	}

	.bottom {
		bottom: 50px;
	}

	.right {
		right: 50px;
	}

	.report-header {
		height: 435px;
		background-color: var(--mdc-theme-primary);
		backdrop-filter: saturate(180%) blur(20px);
		display: flex;
		flex-direction: column;
		align-items: center;
		color: white;

		.report-info {
			display: flex;
			flex: 1;
			width: 80vw;
			padding: 8px;
			.info {
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}

			.rate {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
				.label {
					background-color: #fff;
					color: var(--mdc-theme-primary);
					padding: 4px 8px;
					border-radius: 32px;
				}

				.icon {
					font-size: -webkit-xxx-large;
				}
			}
		}
		.report-descript {
			padding: 25px;
			width: 80vw;
			line-height: 1.8;
		}
	}

	.risk {
		padding: 32px;
		.risk-descript {
			p {
				color: var(--mdc-theme-dark-shade);
				text-indent: 25px;
			}
		}
	}

	.subtitle {
		color: var(--mdc-theme-dark);
		display: flex;
		align-items: center;
		.material-icons {
			color: var(--mdc-theme-primary);
			margin-right: 16px;
		}
	}

	.list {
		padding: 8px;
		.item {
			margin-top: 16px;
			display: flex;
			align-items: center;
			font-size: larger;
			line-height: 1.5;
			color: var(--mdc-theme-dark-shade);

			.fill {
				height: 0;
				border-bottom: 1px dotted var(--mdc-theme-medium);
				margin: 0 32px;
			}
		}
	}

	.loans {
		display: flex;
		height: 420px;
		border-top: 1px dashed var(--mdc-theme-medium-tint);
		border-bottom: 1px dashed var(--mdc-theme-medium-tint);
		.cart {
			flex: 1;
			position: relative;
			.descript {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				position: absolute;
				line-height: 1.5;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
			}
		}

		.credit_card {
			width: 100%;
			height: 420px;
			circle {
				stroke-width: 8px;
				transform: rotate(-90deg);
				transform-origin: center;
				&.fill-fit {
					stroke: var(--mdc-theme-light-shade);
				}
				&.bar {
					stroke-linecap: round;
					stroke: var(--mdc-theme-secondary);
				}
			}
		}

		.p2p_lending {
			width: 100%;
			height: 420px;
			circle {
				stroke-width: 8px;
				transform: rotate(-90deg);
				transform-origin: center;
				&.fill-fit {
					stroke: var(--mdc-theme-light-shade);
				}
				&.bar {
					stroke-linecap: round;
					stroke: var(--mdc-theme-tertiary);
				}
			}
		}
	}

	.header {
		padding: 8px;
		display: flex;
		align-items: center;
		.icon {
			width: 65px;
			height: 65px;
		}
	}

	.mdc-data-table {
		width: fit-content;
		min-width: 80vw;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.analyze {
		border-top: 1px dashed var(--mdc-theme-medium-tint);
		border-bottom: 1px dashed var(--mdc-theme-medium-tint);
	}
}
