.root {
	background-image: url('/static/assets/WechatIMG2.jpeg');
	background-size: contain;
	background-position: top center;
	background-repeat: no-repeat;
	background-color: #f5f5f7;
	width: 750px;
	height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: flex;
	flex-direction: column;

	.cards {
		margin-top: 25vh;
	}

	.row {
		.icon {
			width: 65px;
			height: 65px;
		}
	}
}

.cell-list {
	flex-direction: column;
	align-items: center;
	.cell-item {
		width: 90vw;
		.icon {
			width: 37vw;
		}

		.item-content {
			.content-descript {
				margin: 8px 0;
				color: var(--mdc-theme-dark-tint);
				line-height: 1.8;
				flex: 1;
			}
		}
	}
}
