.margin-horizontal {
	margin-left: $n;
	margin-right: $n;
}

.mt-1 {
	margin-top: $n;
}

.mt-2 {
	margin-top: 2 * $n;
}

.mt-3 {
	margin-top: 3 * $n;
}

.mt-4 {
	margin-top: 4 * $n;
}

.mt-5 {
	margin-top: 5 * $n;
}

.ml-1 {
	margin-left: $n;
}

.ml-2 {
	margin-left: 2 * $n;
}

.ml-3 {
	margin-left: 3 * $n;
}

.ml-4 {
	margin-left: 4 * $n;
}

.ml-5 {
	margin-left: 5 * $n;
}

.mr-1 {
	margin-right: $n;
}

.mr-2 {
	margin-right: 2 * $n;
}

.mr-3 {
	margin-right: 3 * $n;
}

.mr-4 {
	margin-right: 4 * $n;
}

.mr-5 {
	margin-right: 5 * $n;
}

.mb-1 {
	margin-bottom: $n;
}

.mb-2 {
	margin-bottom: 2 * $n;
}

.mb-3 {
	margin-bottom: 3 * $n;
}

.mb-4 {
	margin-bottom: 4 * $n;
}

.mb-5 {
	margin-bottom: 5 * $n;
}

.margin-vertical {
	margin-top: $n;
	margin-bottom: $n;
}

.padding-horizontal {
	padding-left: $n;
	padding-right: $n;
}

.padding-vertical {
	padding-top: $n;
	padding-bottom: $n;
}
